*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#050505;
color:white;
height:100vh;
overflow:hidden;
}

#closed-screen{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.closed-box{
text-align:center;
}

.closed-box h1{
font-size:4rem;
margin-bottom:20px;
}

.closed-box p{
font-size:1.2rem;
color:#ccc;
}

#app{
display:none;
height:100vh;
flex-direction:column;
}

header{
height:70px;
background:#0d0d0d;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 25px;
border-bottom:1px solid #222;
}

.logo{
font-size:1.4rem;
font-weight:bold;
letter-spacing:3px;
}

#user{
color:#b388ff;
}

#messages{
flex:1;
overflow-y:auto;
padding:20px;
}

.message{
background:#111;
padding:12px;
border-radius:12px;
margin-bottom:10px;
border:1px solid #222;
}

.pseudo{
font-weight:bold;
color:#b388ff;
margin-bottom:5px;
}

.text{
word-break:break-word;
}

.chat-box{
display:flex;
padding:15px;
background:#0d0d0d;
gap:10px;
}

#messageInput{
flex:1;
padding:12px;
background:#111;
border:none;
border-radius:12px;
color:white;
}

#sendBtn{
padding:12px 20px;
border:none;
border-radius:12px;
cursor:pointer;
background:#6d28d9;
color:white;
font-weight:bold;
}

#sendBtn:hover{
opacity:0.9;
}
